@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');
h1{
    text-align: center;
}
body{
    background-color: #004018;
    color: #9BB348;
    font-weight: bold;
    font-size: 20px;
}
nav{
    border: 5px solid #002B11;
    padding: 3px;
}
.sl{
    display: flex;
    padding: 5px;
    margin: auto;
}
.cnop{
    color: white;
    margin: auto;
    background-color: #9C9200;
    border: 4px solid #9C9200;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.75s;
}
iframe{
    width: 1000px;
    height: 1000px;
}
.b{
    margin: auto;
    background-color: #f7de02;
    width: fit-content;
    height: fit-content;
}
.cnop:hover{
    transform: scale(1.2);
}
@media (min-width: 200px) {
    /* картинки */
    img{
        width: 190px;
    }
    section{
        text-align: center;
    }
    .i404{
        width: 190px;
    }
    /* кнопка */
    .cnop{
        color: white;
        margin: auto;
        background-color: #9C9200;
        border: 4px solid #9C9200;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.75s;
        width: 120px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 400px) {
    /* картинки */
    img{
        width: 390px;
    }
    section{
        text-align: center;
    }
    .i404{
        width: 390px;
        text-align: center;
    }
    /* кнопка */
    .cnopr{
        color: white;
        margin: auto;
        background-color: #9C9200;
        border: 4px solid #9C9200;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.75s;
        width: 120px;
    }
    iframe{
        width: 400px;
        height: 400px;
    }
}
@media (min-width: 600px) {
    /* картинки */
    img{
        width: 590px;
    }
    section{
        text-align: center;
    }
    .i404{
        width: 590px;
        text-align: center;
    }
    /* кнопка */
    .cnop{
        color: white;
        margin: auto;
        background-color: #9C9200;
        border: 4px solid #9C9200;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.75s;
        width: 120px;
    }
    iframe{
        width: 600px;
        height: 600px;
    }
}
@media (min-width: 900px) {
    /* картинки */
    img{
        width: 450px;
    }
    section{
        display: flex;
        justify-content: center;
        gap: 3px;
    }
    .i404{
        width: 890px;
        text-align: center;
    }
    /* кнопка */
    .cnop{
        color: white;
        margin: auto;
        background-color: #9C9200;
        border: 4px solid #9C9200;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.75s;
        width: 120px;
    }
    iframe{
        width: 900px;
        height: 900px;
    }
}
  
@media (min-width: 1280px) {
    /* картинки */
    img{
        width: 550px;
    }
    section{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .i404{
        width: 1270px;
        text-align: center;
    }
    /* кнопка */
    .cnop{
        color: white;
        margin: auto;
        background-color: #9C9200;
        border: 4px solid #9C9200;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.75s;
        width: 120px;
    }
    iframe{
        width: 1280px;
        height: 1280px;
    }
}